[submodule "freestnd-c-hdrs"]
	path = freestnd-c-hdrs
	url = https://codeberg.org/osdev/freestnd-c-hdrs-0bsd.git
[submodule "cc-runtime"]
	path = cc-runtime
	url = https://codeberg.org/osdev/cc-runtime.git
[submodule "nyu-efi"]
	path = nyu-efi
	url = https://codeberg.org/osdev/nyu-efi.git
[submodule "nanoprintf"]
	path = nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git
[submodule "seabios"]
	path = seabios
	url = https://github.com/FlyGoat/seabios-csmwrap.git
